---
title: ReACT 2021
description: Home
image: /images/lyonSunset.jpg
bottom_image: http://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style = "text-shadow: 0px 0px 8px black;">Robustness, Adaptability and Critical Transitions in Living Systems</h1>
			<p class="subtext editable" style = "text-shadow: 1px 1px 5px black;">Satellite of the Conference on Complex Systems 2021 - Lyon, France</p>
		</div>
	</div>
	<div class="learn-more">
		<a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#about">About <span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#venue">Venue <span class="arrow">&#x25BC;</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#organizers">Organizers <span class="arrow">&#x25BC;</span></a>
	</div>

</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The ReACT topics</h2>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					Living systems are characterized by the recurrent <strong>emergence of patterns</strong>: power-laws
					distributions, long-range correlations and structured self-organization in living matter are
					the norm, rather than the exception. All these features are also typical of systems poised near a <strong>critical point</strong>.
					The great lesson from Physics is that criticality can emerge as a collective behaviour in a many-body system with simple
					interactions and its characteristics depend only on few details, like the dimensionality or the symmetries.
					<br><br>
					One of the most striking feature of living systems is that they are structured as evolving systems were
					interactions can turn-on or off, as well as strengthening and weakening,
					reconfiguring the system connectivity. Thus, by rearranging both the structural and
					functional topology, living interacting systems may demonstrate unique <strong>evolvability,
					scalability and adaptability</strong> properties.
					<br><br>
					Among these systems, the brain is probably one of the most impressively complex and
					has received a considerable amount of attention in recent years, aided by the vast amount
					of experimental data available. The idea that the <strong>collective behavior of neurons</strong> might
					emerge from a self-organized critical state has been widely studied, from its fundamental
					mechanisms to its functional advantages, and it poses a fascinating question that is far
					from being answered.
					<br><br>
					It is of crucial importance to make further steps in the understanding of the main properties
					that simultaneously confer to these systems <strong>high level of adaptability, robustness and
					optimality</strong>. If we can “learn” from evolution and unravel the basic principles then we would
					be able to both better manage/supervise these systems and also design more optimal and
					sustainable new systems.
				</p>
			</div>
		</div>
	</section>

	<section class="info" id="about"></section>
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About the Satellite</h2>
				<p class="editable" style = "text-align: justify;text-justify: inter-word;">
					After the success of the Satellite at ECCS 2014, CCS 2016, and CCS 2018, the ReACT Satellite is back for CCS 2021 in Lyon, France.
					We are very pleased to announce that the Satellite will be host in an hybrid format, welcoming partecipants both online and in person.
					<br>
					The Satellite will last half a day and will take place during the main conference (25th - 29th October, 2021).
					The exact date and times will be announced soon.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="images/convention-center.jpg" alt="Convention center" />
			</div>
		</div>
	</section>

	<section class="info" id="venue"></section>
	<section class="info">
			<div class="container flex">
				<div class="image">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44231.18152639112!2d4.859545273373451!3d45.7576169077202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eac0a2068105%3A0x601302e66888357d!2sPalais%20des%20congr%C3%A8s%20de%20Lyon!5e0!3m2!1sen!2sfr!4v1615136434026!5m2!1sen!2sfr" width="100%" style="border:0;height:20vw" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<div class="text">
					<h2 class="editable">Venue and location</h2>
					<p class="editable"style = "text-align: justify;text-justify: inter-word;">
						The Satellite and the Conference on Complex Systems 2021 will take place at the Lyon Convention Centre in Lyon, France.
            More information on how to reach Lyon and the Lyon Convention Center are available in the
						<a href="https://ccs2021.univ-lyon1.fr/#CONVENTION-CENTER">conference website</a>. The Satellite will be also available
						online.	Details on the Lecture Hall and on the online meeting will be published soon.
					</p>
				</div>

			</div>
	</section>

	<section class="pad" id="speakers">
		<div class="container" >
			<h2 class="editable">Invited speakers</h2>
			<ul class="staff">
				{% for person in site.speakers %}
					<li>
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<div class="name"><a href="{{person.website}}">{{ person.name }}</a></div>
						<div class="position">{{ person.position }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>


	<section class="pad" id="organizers">
		<div class="container" style="max-width:1500px">
			<h2 class="editable">Organizers and contacts</h2>
			<ul class="staff">
				{% for person in site.organizers %}
					<li>
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<div class="name"><a href="{{person.website}}">{{ person.name }}</a></div>
						<div class="position">{{ person.position }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="container flex">
			<div class="text">
				<p>For any further question please write to <a href="mailto:liph.unipd@gmail.com">liph.unipd@gmail.com</a> or contact one of the organizers.</p>
			</div>
		</div>
	</section>


</div>
