---
title: Organizers and contacts
description: Organizers and contacts.
image: /images/lyonSunset.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style = "text-shadow: 0px 0px 8px black;">Organizers and contacts</h1>
		</div>
	</div>
	<div class="learn-more"><a href="#organizers">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<section class="pad" id="organizers">
	<div class="container" >
		<ul class="staff">
			{% for person in site.organizers %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a href="{{person.website}}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="container flex">
		<div class="text">
			<p>For any further question please write to <a href="mailto:liph.unipd@gmail.com">liph.unipd@gmail.com</a> or contact one of the organizers.</p>
		</div>
	</div>
</section>
