---
title: Speakers
description: Invited speakers.
image: /images/lyonSunset.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style = "text-shadow: 0px 0px 8px black;">Invited speakers</h1>
			<p class="subtext editable" style = "text-shadow: 0px 0px 8px black;">List of confirmed invited speakers</p>
		</div>
	</div>
	<div class="learn-more"><a href="#speakers"><span class="arrow">&#x25BC;</span></a></div>
</section>

<section class="pad" id ="speakers">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_speakers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.speakers %}
				<li>
					<!--<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>-->
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
